USE [master]
GO
/****** Object:  Database [chat]    Script Date: 2019/08/28 9:58:46 ******/
CREATE DATABASE [chat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\chat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\chat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chat]
GO
USE [chat]
GO
/****** Object:  User [unko]    Script Date: 2019/08/28 9:58:46 ******/
CREATE USER [unko] FOR LOGIN [unko] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 2019/08/28 9:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[talk] [nvarchar](1000) NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_chat] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[todo]    Script Date: 2019/08/28 9:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[todo](
	[user_id] [int] NOT NULL,
	[todo_id] [int] IDENTITY(1,1) NOT NULL,
	[todo_content] [nvarchar](200) NOT NULL,
	[complete] [bit] NOT NULL,
	[delete_flg] [bit] NOT NULL,
	[add_date] [datetime] NOT NULL,
 CONSTRAINT [PK_todo] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[todo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2019/08/28 9:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[delete_flg] [bit] NOT NULL,
	[pass] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_chat]    Script Date: 2019/08/28 9:58:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_chat] ON [dbo].[chat]
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chat] ADD  CONSTRAINT [DF_chat_name]  DEFAULT ('') FOR [user_id]
GO
ALTER TABLE [dbo].[chat] ADD  CONSTRAINT [DF_chat_talk]  DEFAULT ('') FOR [talk]
GO
ALTER TABLE [dbo].[todo] ADD  CONSTRAINT [DF_todo_todo_content]  DEFAULT ('') FOR [todo_content]
GO
ALTER TABLE [dbo].[todo] ADD  CONSTRAINT [DF_todo_complete]  DEFAULT ((0)) FOR [complete]
GO
ALTER TABLE [dbo].[todo] ADD  CONSTRAINT [DF_todo_delete_flg]  DEFAULT ((0)) FOR [delete_flg]
GO
ALTER TABLE [dbo].[todo] ADD  CONSTRAINT [DF_todo_add_date]  DEFAULT ('2000-01-01 00:00:00') FOR [add_date]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_name]  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_delete_flg]  DEFAULT ((0)) FOR [delete_flg]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [FK_chat_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [FK_chat_user]
GO
ALTER TABLE [dbo].[todo]  WITH CHECK ADD  CONSTRAINT [FK_todo_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[todo] CHECK CONSTRAINT [FK_todo_user]
GO
USE [master]
GO
